.characteristics {
  width: 1200px;
  padding: 50px;
  position: absolute;
  top: 730px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.characteristics__list {
  display: flex;
  justify-content: space-around;
}
.characteristics__item {
  width: 356px;
  position: relative;
  display: flex;
}
.characteristics__text {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;

  color: #214e41;
}
.characteristics__text::before {
  content: "";

  display: flex;
  flex-direction: row;
  background-color: blue;
  height: 45px;

  background-position: center;
  background-repeat: no-repeat;
}

.characteristics__umbrella::before {
  background-image: url(../../images/Umbrella.svg);
}
.characteristics__done::before {
  background-image: url(../../images/Done.svg);
}
.characteristics__bag::before {
  background-image: url(../../images/Bag.svg);
}

// .content {
//   position: relative;
//   padding: 40px;
//   background-color: #ccc;
// }

// .content::before {
//   position: absolute;
//   content: "";
//   background: url(../../images/Dan.jpg) no-repeat right center;
// }
