.footer {
  background-color: #214e41;
}
.footer-box {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 70px;
}
.brella-box {
  display: flex;
  flex-direction: row;
  width: 592px;
  justify-content: space-between;
  padding-top: 100px;
}
.brella-list {
  display: flex;
  flex-direction: row;
}
.join-list {
  width: 186.65px;
  margin-right: 16px;
}

.join-list__title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 13px;
  line-height: 1.85;
  letter-spacing: 0.02px;
  text-transform: uppercase;

  color: #ffffff;
}
.company-list {
  width: 186.65px;
}
.company-list__title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 13px;
  line-height: 1.85;
  letter-spacing: 0.02px;
  text-transform: uppercase;

  color: #ffffff;
}
.join-list__link {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.69;
  color: #ffffff;
  text-decoration: none;
}
.company-list__link {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.69;
  color: #ffffff;
  text-decoration: none;
  border: none;
}
.join-list__item:not(:last-child) {
  margin-bottom: 15px;
}
.company-list__item:not(:last-child) {
  margin-bottom: 15px;
}
.soc-list {
  display: flex;
}
.get {
  padding-top: 100px;
}
.get__form {
  height: 52px;
}
.get__title {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 13px;
  line-height: 1.85;
  letter-spacing: 0.02px;
  text-transform: uppercase;
  margin-bottom: 19px;
  color: #ffffff;
}
.get__text {
  width: 345px;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02px;
  margin-bottom: 16px;
  color: #ffffff;
}
.get__input {
  width: 301px;
  height: 50px;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02px;
  background-color: inherit;
  color: #ffffff;
  border-radius: 0px;
  border-color: #ffffff;
  padding-top: 22px;
  padding-left: 21px;
  padding-bottom: 6px;
  border-right: none;
  &::placeholder {
    font-family: "Raleway";
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.02px;
    color: #ffffff;
  }
}
.footer-form-btn {
  display: flex;
  margin-bottom: 30px;
}

.get__btn {
  width: 53px;
  height: 50px;
}
.soc-item__icon {
  background-color: inherit;
  color: blue;
}
.soc-item:not(:last-child) {
  margin-right: 25px;
}

.privacy {
  padding-top: 70px;
}
.policy__text {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02px;
  margin-bottom: 20px;
  color: #ffffff;
}
.policy__second-text {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02px;
  margin-bottom: 24px;
  color: #ffffff;
}
.policy__third-text {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02px;

  color: #ffffff;
}
.policy__tel-link {
  text-decoration: none;
  color: #ffffff;
}
.reserved {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
  padding-bottom: 50px;
}
.reserved__text {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02px;

  color: #ffffff;
}
.reserved__second-text {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02px;

  color: #ffffff;
}
.reserved__third-text {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02px;

  color: #ffffff;
}
.reserved__list {
  display: flex;
}

.reserved__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid #ffffff;
}
.reserved__item:not(:first-child) {
  margin-left: 10px;
}
