:root {
  --primary-text-color: rgba(33, 78, 65, 1);
  --header-adress-color: #757575;
  --accent-color: #2196f3;
  --top-color: #ffffff;
  --button-bgd-color: #43806c;
  --secondary-bgd-color: #f5f4fa;
  --third-bgd-color: #188ce8;
  --footer-grey-color: rgba(255, 255, 255, 0.6);
}
